body{
    background-image: url(Images/tusik-only-Fde7w9q0sWw-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}